<footer>
  <nav>
      <ul>
          <li>
              <a href="/"><img src="{{ '/assets/img/abbot-avatar-small.png' | relative_url }}" width="24" alt="Abbot robot logo"></a>
              <span>© A Serious Business, Inc.</span>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="https://aseriousbusiness.com/about/">About Us</a></li>
          <li><a href="https://ab.bot">Abbot</a></li>
          <li><a href="mailto:{{ site.contact.email }}">Contact Us</a></li>
          <li><a href="https://twitter.com/getAbbot"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="https://github.com/aseriousbiz"><i class="fab fa-github-square"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCEWtUt3dNMTULNesrL_8lOg"><i class="fab fa-youtube"></i></a></li>
          <li><a href="https://www.linkedin.com/company/a-serious-business-inc/"><i class="fab fa-linkedin"></i></a></li>
        </ul>
  </nav>
</footer>