body {
  width: 800px;
  padding: 40px 0;
  margin: 0 auto;
  font-family: "Roboto","-apple-system","Segoe UI","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  background-color: #f4f6f6;
  color: #424242;
}

.title {
  font-size: 3em;
}

.subtitle {
  color: #555858;
  margin-top: -16px;
  margin-bottom: px;
}

a {
  color: #424242;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #3273dc;
  }
}

h1, h2 {
  text-align: center;
  clear: both;
  margin-bottom: 1em;
}

p, li, h1, h2 {
  font-size: 20px;
  line-height: 30px;
}

blockquote {
  font-size: 23.625px;
  border-left: 4px solid #e8e8e8;
  color: #828282;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: 15px;
}

// --------
// Tables
// --------
table {
  border: 1px solid $grey-color-light;
  border-collapse: collapse;
  color: lighten($text-color, 18%);
  margin-bottom: $spacing-unit;
  text-align: $table-text-align;
  width: 100%;

  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }

  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }

  td {
    border: 1px solid $grey-color-light;
  }
}

@media only screen and (max-width: 700px) {
  body {
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
  }
  h1 {
    font-size: 1.25em;
    line-height: 1.2;
    margin-bottom: 0;
  }
  p, h2, li {
    font-size: 1.125em;
    line-height: 1.5;
  }
  p {
    margin-bottom: 3em;
  }
}
