body {
  font-family: $base-font-family;
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3em;

  span {
    position: relative;

    .big-abbot {
      position: absolute;
      height: 300px;
      top: -50px;
      left: -250px;
    }
  }
}

.subtitle {
  color: $muted-text-color;
  margin: -16px auto 0 auto;
  width: 40%;
}

a {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 20%);
  }
}

blockquote {
  font-size: 23.625px;
  border-left: 4px solid $blockquote-border-color;
  color: $grey-color;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: 15px;
}

ul.is-horizontal {
  margin: 0;
  padding: 0;
  white-space: nowrap;

  li
  {
      list-style-type: none;
      display: inline;
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.tags {
  display: block;
  flex: none;
  flex-wrap: nowrap;

  .tag-list {
    display: none;

    .meta {
      font-size: 1em;
      margin: 0;
    }

    h2 {
      margin: 8px 0 4px 2px;
      font-size: 1.2em;
    }

    ul {
      margin-top: 20;
      margin-bottom: 40px;
      li {
        font-size: 0.6em;
      }
    }
  }
}

.is-main {
  background: $main-hero-background;
  h1.title {
    color: #fff !important; 
  }
  .subtitle {
    color: #ddd !important;
  }
}

@include media-query($on-widescreen) {
  .title {
    font-size: 2em;
  }

  span {
    .big-abbot {
      height: 250px;
      left: -190px;
    }
  }
}

@include media-query($on-desktop) {
  .title {
    font-size: 2em;
    margin-bottom: 8px;

    span {
      .big-abbot {
        height: 200px;
        left: -150px;
        top: -20px;
      }
    }
  }

  .subtitle {
    font-size: 0.8em;
  }
}

@include media-query($on-tablet) {
  .title {
    font-size: 1.5em;
    margin-bottom: 8px;

    span {
      .big-abbot {
        height: 150px;
        left: -160px;
        top: -10px;
      }
    }
  }
}

@include media-query($on-mobile) {
  body {
    box-sizing: border-box;
    width: 100%;
    font-size: $mobile-font-size;
  }

  div.page section.hero {
    margin-bottom: 24px;
  }

  section.section {
    padding-top: 8px;
  }

  p, li, h1, h2, a {
    font-size: $mobile-font-size;
  }

  .title {
    font-size: 2em;
    margin-bottom: 8px;

    .big-abbot {
      display: none;
    }
  }

  .subtitle {
    margin: 0 auto;
    width: 100%;
  }
  
  .image.is-64x64-mobile {
    height: 64px !important;
    width: 64px !important;
  }
}
