footer.footer {
    margin-top: auto;

    ul.is-horizontal {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 24px;
      
      li
      {
          height: 24px;
          line-height: 24px;
          display: list-item;
          
          a, span {
              vertical-align: middle;
          }
      }
  }
  
  
  img {
      margin: 0 0.5em;
      vertical-align: middle;
  }
  
  background-color: transparent;
  ul.is-horizontal li {
      margin: 0 1em;
  }
}
