.navbar {
  background-color: $navbar-background-color;

  .navbar-menu {
    background-color: lighten($navbar-background-color, 5%);
  }

  a.navbar-item {
    color: $navbar-item-color;
    font-size: 1rem;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      color: $navbar-active-color;
      background-color: inherit !important;
    }

    &.is-active {
      color: $navbar-active-color;
      background-color: $navbar-active-background-color !important;
    }
  }

  .logo {
    color: $caption-color !important;
    font-family: 'Bungee Hairline',"-apple-system","Segoe UI","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;

    svg {
      position: relative;
      top: 1.75px;
    }

    .sub-logo {
      font-size: 23px;
      vertical-align: middle;
    }
  }
}

@include media-query($on-desktop) {
  .navbar-menu {
      padding: 0;

      .navbar-item {
        padding: 1rem .75rem
      }
  }
}
