h1.post-title {
  font-size: 2em;
  line-height: 1em;
}

article.post {
  h1.post-title {
    font-size: 3em;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

.posts-list h1.post-title {
  margin-top: 72px;
}

.meta {
  font-size: 1rem;
  font-weight: 200;
  color: $muted-text-color;
  margin-left: 4px;

  a {
    color: $muted-text-color;
  }

  .date, .tags, .comments, edit {
    padding-right: 10px;
  }
}

img.excerpt {
  margin-top: 8px;
}

.author {
  text-align: center;
  margin-bottom: 32px;
  width: 100%;

  .avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    img {
      border-radius: 50%;
      display: block;
      float: none;
      width: 160px;
      max-width: 100%;
    }
  }
}

span.caption {
  color: $caption-color;
  font-size: .8em;
  text-align: center;
  display: block;
}
