.post-title {
  line-height: 1em;
  a {
    color: $text-color !important;

    &:hover {
      color: darken($link-color, 20%) !important;
    }
  }
}

.home .post-title {
  font-size: 2.5em;
}

article.post {
  .post-title {
    font-size: 3em;
  }
}

.posts-list .post-title {
  margin-top: 72px;
}

.post-content {
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  // --------
  // Tables
  // --------
  table {
    border: 1px solid $grey-color-light;
    border-collapse: collapse;
    color: lighten($text-color, 18%);
    margin-bottom: $spacing-unit;
    text-align: $table-text-align;
    width: 100%;

    tr {
      &:nth-child(even) {
        background-color: lighten($grey-color-light, 6%);
      }
    }

    th,
    td {
      padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }

    th {
      background-color: lighten($grey-color-light, 3%);
      border: 1px solid darken($grey-color-light, 4%);
      border-bottom-color: darken($grey-color-light, 12%);
    }

    td {
      border: 1px solid $grey-color-light;
    }
  }
}

.meta {
  font-size: 1rem;
  font-weight: 200;
  color: $muted-text-color;
  margin-left: 4px;

  a {
    color: $muted-text-color;
  }

  .date, .tags, .comments, .edit {
    padding-right: 10px;
  }

  * {
    display: inline;
  }
}

.post-footer {
  padding-top: 3em;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

img.excerpt {
  margin: 8px 0;
}

.author {
  text-align: center;
  margin-bottom: 32px;
  width: 100%;

  .avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    img {
      border-radius: 50%;
      display: block;
      float: none;
      width: 160px;
      max-width: 100%;
    }
  }
}

span.caption {
  color: $caption-color;
  font-size: .8em;
  text-align: center;
  display: block;
}

.read-more {
  font-style: italic;

  &::after {
    content: "…"
  }
}

@include media-query($on-mobile) {
  .author img {
     width: 80px !important;
  }

  .meta {
    * {
      font-size: 0.8rem;
    }
  }

  .author {
    margin-top: 40px;
  }

  article.post h1.post-title {
    font-size: 2em;
  }

  .home .post-title {
    margin: 0 auto 8px auto;
    line-height: 0.8;

    a {
      font-size: 0.6em;
    }
  }
  
  .content h1 {
    font-size: 1.2em;
  }

  .post-content {
    margin-bottom: 32px;
  }
}
