---
layout: default
---
{% assign hero_class = page.hero_class | default: post.hero_class | default: "is-link" %}
<div class="page">
  <section class="hero {{hero_class}} is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ page.title | escape }}</h1>
      </div>
    </div>
  </section>

  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <div class="post-content content">
        {{ content }}
      </div>
    </div>
  </div>
</div>