---
layout: content
---
{% assign hero_class = page.hero_class | default: post.hero_class | default: "is-link" %}
{% assign container-class = page.container_class | default: post.container_class | default: "page-content" %}
<div class="page">
  <section class="hero {{hero_class}} is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ page.title | escape }}</h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns is-centered">
      <div class="column is-two-fifths">
        <div class="content {{container-class}}">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
</div>